body {

    background: rgb(45, 45, 221);
    font: normal 15pt Arial;

}





header {

    text-align: center;
    color: #ffff;


}

div {
    text-align: center;
    padding: 6px;

}


section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    /* padding é largura fixa */
    margin: auto;
    /* o margin auto centraliza no centro da tela */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452);
    /* esse 5 5 e 10px é o deslocamento da sombra */

}

footer {
    color: white;
    text-align: center;
    font-style: italic;

}

/*img {
    border-radius: 50%;
    width: 150px;
    height: 150px;

}  esse aqui seria o atribuição que eu usei para deixar a imagem redonda */